<!DOCTYPE html>
<html lang="fr" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Multi-Projects Host{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="{% block body_class %}{% endblock %}">
    <nav class="navbar">
        <div class="nav-container">
            <a href="{{ url_for('index') }}" class="nav-logo" {% block spa_index %}{% endblock %}>Accueil</a>
            <div class="nav-links">
                <a href="https://github.com/Tarkhubal/flask-multiprojects" class="nav-link">Repo GitHub</a>
                <button id="theme-toggle" class="theme-toggle" aria-label="toggle theme">
                    <span class="theme-icon">☀️</span>
                </button>
            </div>
        </div>
    </nav>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/spa.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
